/* headings  */
h1{
    font-family: 'Montserrat-black';
    font-size: 5rem;
    color: #B2A4FF;
    font-weight: bold;
}
h2{
    font-family: 'Montserrat-black';
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    font-family: 'Ubuntu-black', sans-serif;
}
h4{
    text-align: center;
    font-family: 'Ubuntu-black', sans-serif;
    font-size: 2rem;
    margin: 30px 40px 0;

}
/* top container  */
.top-container{
    background-color: #FFF9CA;
    margin-bottom:30px ;
    padding-bottom: 15px;
    flex-wrap: wrap-reverse;
    
    
   
}
/* navbar  */
.navbar{
    padding: 15px 10px 0;
    
  
}
.navbar-brand{
    font-size: 2rem;
    font-family: 'Ubuntu-black', sans-serif;
    margin-left: 20px;
   
    
}
.navbar-collapse{
    justify-content: end;
   
}
.nav-link{
    margin: 5px;
    font-size: 1.3rem;
    font-family: 'Ubuntu-black', sans-serif;
}
/* navbar-logo */
.logo{
    width: 50px;
    border-radius: 100%;
    margin-left: 60px;
}
 /* top button  */
.top-button{
    margin: 10px;
}


 /* middle container  */
.middle-container{
 
   background-color: #B2A4FF;
   padding: 100px 50px;
   
}
.row{
    --bs-gutter-x: 0;
    text-align: center;
}
.carousel{

    padding: 100px 50px
}
.mid-1{
   background-color: #fff;
}
.mid-2{
    background-color: #FFDEB4;
}

 /* top women image  */
.top-women{
    width: 50%;
    margin: 6% 0px 0px 300px;
    right: 0;
    bottom: 9px;
}
   

.head-text{
    text-align: left;
    margin-top: 40px;
    
}

/* bottom container  */
.about-img{
    width: 25%;
    margin: 50px
    
}
.about-us{
    display: flex;
    text-align: center;
    justify-content: center;
    
  
}
.about-text{
    padding: 40px;
    
}
.time{
display: flex;
}
.day{
    margin-right: 10px;
}
.bottom-button{
    margin-right: 5px;
}
.footer{
    background-color: #C9D6DF;
    padding: 5% 15%;
    text-align: center;
}
.social-icon{
    font-size: 1.5rem;
    padding: 5px;
}
.nav-footer{
    color: #000;
   
}
/* media qurey  */
@media (max-width:990px){
    .top-women{
        margin: 6% 0px 0px 0px; 
        align-items: center;
    }
    .mid-child{
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
    .mid-women{
        width: 250px;
        height: 300px;
        margin-top: 20px;
    }
    
    .mid-men{
        width: 250px;
        height: 300px;
        margin-top: 20px;
    
    }
    
    .about-img{
        width: 230px;
        height: 200px;
        margin-top: 20px;
    
    }
    .about-us{
        flex-wrap: wrap;
    }

@media (max-width:600px)
{
    .top-women{
        margin: 6% 0px 0px 0px; 
        align-items: center;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 0.9rem;
    }
    .mid-child{
        width: 200px;
        height: 150px;
        margin-top: 20px;
    }
    .mid-women{
        width: 200px;
        height: 250px;
        margin-top: 20px;
    }
    
    .mid-men{
        width: 200px;
        height: 250px;
        margin-top: 20px;
      
    }
    .logo{
        margin: 0;
    }
    .navbar-brand{
        margin: 0;
        font-size: 1.5rem;
    }
}